.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  background-image: url("../img/background.jpg");
  background-size: 1920px 1080px;
  font-family: Arial Black;
}

.body {
  text-align: center;
  background-image: url("../img/background.jpg");
  background-size: 1920px 1080px;
  font-family: Arial Black;
}

.leftcenter {
  display: inline-block;
  text-align: left;
}

.fancy_button {
  color: black;
  font-size: 20px;
  font-family: helvetica;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: white;
  padding: 4px 30px;
}

.fancy_button {
  color:white;
  background-color:black;
  transition-duration: .2s;
  -webkit-transition-duration: .11s;
  -moz-transition-duration: .2s;
}

 .button {
  display: inline-block;
  height: 100px;
  width: 100%;
  padding-top: 50px;
}

.button .fancy_button {
  color: white;
  border: 2px solid white;
  background-color: black;
}

 .button .fancy_button:hover {
  color: black;
  border: 2px solid black;
  background-color: white;
}

button.fancy_button {
  -webkit-appearance: none;
  -moz-appearance: none;
}
